

<div class="az-header">
    <div class="container">
  <div class="az-header-left"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo.png" width="500" height="126" alt=""/></a> <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a> </div>
  <!-- az-header-left -->
  <div class="az-header-menu">
        <div class="az-header-menu-header"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo_bk.png" width="500" height="126" alt=""/></a> <a href="" class="close">&times;</a> </div>
        <!-- az-header-menu-header -->
        <ul class="nav">
      <li class="nav-item active"> <a routerLink="/landing" class="nav-link"><i class="typcn typcn-chart-line"></i> Landing page leads</a> </li>
      <li class="nav-item"> <a routerLink="/website" class="nav-link"><i class="typcn typcn-link"></i> Website leads</a> </li>
      <li class="nav-item"> <a routerLink="/demat" class="nav-link"><i class="typcn typcn-book"></i> DEMAT Accounts</a> </li>
      <li class="nav-item"> <a routerLink="/login" class="nav-link"><i class="typcn typcn-user"></i> Admin Login</a> </li>
    </ul>
      </div>
  <!-- az-header-menu --> 
  <!-- az-header-right --> 
  </div>
    <!-- container --> 
  </div>
  <!-- az-header -->

  <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
      <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-label mg-b-5">Landing page leads</div>
        <p class="mg-b-20"></p>
        
        <!-- table-responsive -->
        <table id="myTable" class="table table-striped" >
          <thead>
            <tr>
              <th>#No</th>
              <th>Date</th>
              <th>Time</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>24/02/2020</td>
              <td>11:11 AM</td>
              <td>Ram kumar</td>
              <td>+91 9876 69 963</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>002</td>
              <td>14/05/2020</td>
              <td>08:15 AM</td>
              <td>kumar</td>
              <td>+91 12345 111 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>003</td>
              <td>02/05/2020</td>
              <td>03:11 AM</td>
              <td>lullu</td>
              <td>+91 3354 543 221</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>004</td>
              <td>30/08/2020</td>
              <td>04:20 AM</td>
              <td>Ram kumar</td>
              <td>+91 9876 543 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>005</td>
              <td>24/02/2020</td>
              <td>10:10 AM</td>
              <td>Munmar</td>
              <td>+91 9876 543 210</td>
              <td>munm@gmail.com</td>
            </tr>
            <tr>
              <td>006</td>
              <td>11/05/2020</td>
              <td>06:48 AM</td>
              <td>Arun</td>
              <td>+91 8520 543 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>007</td>
              <td>05/02/2020</td>
              <td>08:30 AM</td>
              <td>Jon</td>
              <td>+91 1234 543 210</td>
              <td>jon@gmail.com</td>
            </tr>
            <tr>
              <td>008</td>
              <td>11/02/2020</td>
              <td>11:11 AM</td>
              <td>Ram kumar</td>
              <td>+91 9876 543 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>009</td>
              <td>24/02/2020</td>
              <td>11:11 AM</td>
              <td>Ram kumar</td>
              <td>+91 9876 543 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>010</td>
              <td>24/02/2020</td>
              <td>11:11 AM</td>
              <td>Ram kumar</td>
              <td>+91 9876 543 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>011</td>
              <td>23/02/2020</td>
              <td>11:11 AM</td>
              <td>Ram kumar</td>
              <td>+91 9876 543 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
            <tr>
              <td>012</td>
              <td>30/01/2020</td>
              <td>11:11 AM</td>
              <td>Ram kumar</td>
              <td>+91 9876 543 210</td>
              <td>ramkumar@gmail.com</td>
            </tr>
          </tbody>
        </table>
        <hr class="mg-y-30">
        
        <!-- table-responsive -->
        
        <div class="ht-40"></div>
        <div class="az-footer mg-t-auto">
          <div class="container"> <span>&copy; 2020 Maverixpro Dashboard </span> </div>
          <!-- container --> 
        </div>
        <!-- az-footer --> 
      </div>
      <!-- az-content-body --> 
    </div>
    <!-- container --> 
  </div>
  <!-- az-content -->
 
