<div class="az-header">
  <div class="container">
<div class="az-header-left"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo.png" width="500" height="126" alt=""/></a> <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a> </div>
<!-- az-header-left -->
<div class="az-header-menu">
      <div class="az-header-menu-header"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo_bk.png" width="500" height="126" alt=""/></a> <a href="" class="close">&times;</a> </div>
      <!-- az-header-menu-header -->
      <ul class="nav">
    <li class="nav-item"> <a routerLink="/landing" class="nav-link"><i class="typcn typcn-chart-line"></i> Landing page leads</a> </li>
    <li class="nav-item"> <a routerLink="/website" class="nav-link"><i class="typcn typcn-link"></i> Website leads</a> </li>
    <li class="nav-item active"> <a routerLink="/demat" class="nav-link"><i class="typcn typcn-book"></i> DEMAT Accounts</a> </li>
    <li class="nav-item"> <a routerLink="/login" class="nav-link"><i class="typcn typcn-user"></i> Admin Login</a> </li>
  </ul>
    </div>
<!-- az-header-menu --> 
<!-- az-header-right --> 
</div>
  <!-- container --> 
</div>
<!-- az-header -->

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-label mg-b-5">DEMAT Accounts</div>
      <p class="mg-b-20"></p>
      
      <!-- table-responsive -->
      <table id="myTable" class="table table-striped" >
        <thead>
          <tr>
            <th>#No</th>
            <th>Name</th>
            <th>View detiles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>Ram kumar</td>
            <td><a routerLink="/view"><i class="typcn typcn-user"></i> View </a> </td>
          </tr>
          <tr>
            <td>002</td>
            <td>kumar</td>
            <td><a routerLink="/view"><i class="typcn typcn-user"></i> View </a> </td>
          </tr>
          <tr>
            <td>003</td>
            <td>lullu</td>
            <td><a routerLink="/view"><i class="typcn typcn-user"></i> View </a> </td>
          </tr>
          <tr>
            <td>004</td>
            <td>Ram kumar</td>
            <td><a routerLink="/view"><i class="typcn typcn-user"></i> View </a> </td>
          </tr>
          <tr>
            <td>005</td>
            <td>Munmar</td>
            <td><a routerLink="/view"><i class="typcn typcn-user"></i> View </a> </td>
          </tr>
          <tr>
            <td>006</td>
            <td>Arun</td>
            <td><a routerLink="/view"><i class="typcn typcn-user"></i> View </a> </td>
          </tr>
          <tr>
            <td>007</td>
            <td>Gamma</td>
            <td><a routerLink="/view"><i class="typcn typcn-user"></i> View </a> </td>
          </tr>
        </tbody>
      </table>
      <hr class="mg-y-30">
      
      <!-- table-responsive -->
      
      <div class="ht-40"></div>
      <div class="az-footer mg-t-auto">
        <div class="container"> <span>&copy; 2020 Maverixpro Dashboard </span> </div>
        <!-- container --> 
      </div>
      <!-- az-footer --> 
    </div>
    <!-- az-content-body --> 
  </div>
  <!-- container --> 
</div>
<!-- az-content --> 
