<div class="az-header">
    <div class="container">
  <div class="az-header-left"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo.png" width="500" height="126" alt=""/></a> <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a> </div>
  <!-- az-header-left -->
  <div class="az-header-menu">
        <div class="az-header-menu-header"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo_bk.png" width="500" height="126" alt=""/></a> <a href="" class="close">&times;</a> </div>
        <!-- az-header-menu-header -->
        <ul class="nav">
      <li class="nav-item"> <a routerLink="/landing" class="nav-link"><i class="typcn typcn-chart-line"></i> Landing page leads</a> </li>
      <li class="nav-item"> <a routerLink="/website" class="nav-link"><i class="typcn typcn-link"></i> Website leads</a> </li>
      <li class="nav-item"> <a routerLink="/demat" class="nav-link"><i class="typcn typcn-book"></i> DEMAT Accounts</a> </li>
      <li class="nav-item active"> <a routerLink="/login" class="nav-link"><i class="typcn typcn-user"></i> Admin Login</a> </li>
    </ul>
      </div>
  <!-- az-header-menu --> 
  <!-- az-header-right --> 
  </div>
    <!-- container --> 
  </div>
  <!-- az-header -->
  
  <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
  <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-signin-wrapper">
      <div class="az-card-signin">
            <h1 class="az-logo login-logo" align="center"><img src="../assets/img/logo_bk.png"  alt=""/></h1>
            <div class="az-signin-header">
          <h1 class="login-logo">Sign in</h1>
          <p class="login-logo">Admin access</p>
          <hr>
          <form action="#">
                <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" placeholder="Enter your email" value="demo@bootstrapdash.com">
            </div>
                <!-- form-group -->
                <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Enter your password" value="thisisademo">
            </div>
                <!-- form-group -->
                <a routerLink="/landing" class="btn btn-az-primary btn-block">Sign In</a>
              </form>
        </div>
            <!-- az-signin-header --> 
          </div>
      <!-- az-card-signin --> 
    </div>
        <!-- az-signin-wrapper -->
        <hr class="mg-y-30">
        
        <!-- table-responsive -->
        
        <div class="ht-40"></div>
        <div class="az-footer mg-t-auto">
      <div class="container"> <span>&copy; 2020 Maverixpro Dashboard </span> </div>
      <!-- container --> 
    </div>
        <!-- az-footer --> 
      </div>
  <!-- az-content-body --> 
  </div>
    <!-- container --> 
  </div>
  <!-- az-content --> 
  