<div class="az-header">
    <div class="container">
  <div class="az-header-left"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo.png" width="500" height="126" alt=""/></a> <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a> </div>
  <!-- az-header-left -->
  <div class="az-header-menu">
        <div class="az-header-menu-header"> <a href="template/index.html" class="az-logo"><span></span> <img src="../assets/img/logo_bk.png" width="500" height="126" alt=""/></a> <a href="" class="close">&times;</a> </div>
        <!-- az-header-menu-header -->
        <ul class="nav">
      <li class="nav-item"> <a routerLink="/landing" class="nav-link"><i class="typcn typcn-chart-line"></i> Landing page leads</a> </li>
      <li class="nav-item"> <a routerLink="/website" class="nav-link"><i class="typcn typcn-link"></i> Website leads</a> </li>
      <li class="nav-item active"> <a routerLink="/demat" class="nav-link"><i class="typcn typcn-book"></i> DEMAT Accounts</a> </li>
      <li class="nav-item"> <a routerLink="/login" class="nav-link"><i class="typcn typcn-user"></i> Admin Login</a> </li>
    </ul>
      </div>
  <!-- az-header-menu --> 
  <!-- az-header-right --> 
  </div>
    <!-- container --> 
  </div>
  <!-- az-header -->
  
  <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
      <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-label mg-b-5">Ram kumar KP</div>
        
        <div class="clearfix"><hr></div>
          
        <p class="mg-b-20"></p>
        <div class="col-lg-12 mt-5 mt-lg-0">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="myfile">PAN Number:  <strong>00963258741</strong></label>
              </div>
              <div class="col-md-6 form-group">
                 <label for="myfile">PAN Card :</label><a href="#" class=""> Downlord</a> 
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="myfile">Adhaar Number: <strong>123 456 789</strong></label>
              </div>
              <div class="col-md-6 form-group">
                 <label for="myfile">Adhaar Card :</label><a href="#" class=""> Downlord</a> 
              </div>
            </div>
           
           
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="myfile">Email ID: <strong>demo@name@gmail.com</strong></label>
              </div>
              <div class="col-md-6 form-group">
                 <label for="myfile">6 Month bank staitment/Name prited cheque / passbook:</label><a href="#" class=""> Downlord</a> 
              </div>
            </div>
           
           
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="myfile">Phone Number (Adhaar linked): <strong> +91 98765 453 210</strong></label>
              </div>
              <div class="col-md-6 form-group">
                 <label for="myfile">Uplord Photo:</label><a href="#" class=""> Downlord</a> 
              </div>
            </div>
           
           
            <div class="form-row">
              <div class="col-md-6 form-group">
                <label for="myfile">Mothers name : <strong>Name</strong></label>
              </div>
              <div class="col-md-6 form-group">
                 <label for="myfile">10sec Selfie video:</label>
                 <a href="#" class=""> Downlord</a> </div>

             </div>
            </div>
           
                
   <!-- table-responsive -->
        <div class="clearfix"><hr></div>
          
                 <div class="col-md-12 form-group">
                <label for="myfile">Nominee name : <strong>Nominee Name</strong></label>
              </div>
              
                <div class="col-md-12 form-group">
                <label for="myfile">DOB : <strong>24/02/1994 </strong></label>
              </div>
                <div class="col-md-12 form-group">
                <label for="myfile">Relationship : <strong>Father</strong></label>
              </div>
            </div>
           

        </div>
        
        <!-- az-footer --> 

      </div>
  <!-- az-content --> 
  